body {
    background-color: rgb(201, 196, 196);
}

.formulario {
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(240, 108, 60);
    background-color: rgb(247, 211, 144);
}

h1 {
    color: rgb(240, 108, 60);
    font-size: 25px;
}

#usuario {
    border-color: red;
}

#contraseña1 {
    border-color: red;
}

#contraseña2 {
    border-color: red;
}

#email {
    border-color: red;
}

#nombre {
    border-color: red;
}

#apellidos {
    border-color: red;
}

#edad {
    border-color: red;
}

#telefono {
    border-color: red;
}

#registrarse {
    background-color: rgb(240, 108, 60);
    color: white;
    border-color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}